@import "./styles.css";

.activities-board{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    .section{
        display: flex;
        flex-direction: column;
        gap: 20px;
        min-height: 200px;
        min-width: 330px;
        transition: background-color 0.3s ease;
        padding: 15px;
        ul{
            list-style: none;
            padding-left: 0;
            display: flex;
            flex-direction: column;
            gap: 20px;
            .activity-card{
                a{
                    color: inherit;
                }
                border-radius: 8px;
                padding: 25px;
                width: 300px;
                .activity-title{
                    font-size: 1.5rem;
                    font-weight: bold;
                }
                .activity-date, .activity-duration, .activity-category{
                    font-size: 0.8rem;
                    line-height: 1rem;
                    /* padding-left: 10px; */
                }
                .activity-description{
                    margin-top: 10px;
                    line-height: 1.1rem;
                    background-color: var(--bg-light-color);
                    padding: 5px 10px;
                    border-radius: 5px;
                }
            }
        }
    }
}

.dragging{
    position:absolute;
    top:0;
    left:0;
}

.droppable{
    background-color: var(--bg-light-color);
    border-radius: 8px;
}

@media screen and (min-width: 1000px){
    .activities-board{
        flex-wrap:nowrap;
    }
}

