@import "./styles.css";

.activities-board{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    .section{
        display: flex;
        flex-direction: column;
        gap: 20px;
        ul{
            list-style: none;
            padding-left: 0;
            display: flex;
            flex-direction: column;
            gap: 20px;
            .activity-card{
                a{
                    color: inherit;
                }
                background-color: var(--secondary-color);
                border-radius: 8px;
                padding: 25px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                max-width: 250px;
            }
        }
    }
}

@media screen and (min-width: 900px){
    .activities-board{
        flex-wrap:nowrap;
    }
}