@import './styles.css';

.checkinBoard{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 100%;
    margin: 0 auto;
    #checkin-list{
        display: flex;
        list-style: none;
        padding: 10px;
        flex-direction: column;
        gap: 15px;
        background-color: var(--bg-color);
        border-radius: 8px;
        .checkin-card{
            background-color: var(--bg-light-color);
            box-shadow: inset -5px -5px 5px -5px rgba(0, 0, 0, 0.1), inset 5px 5px 5px -5px rgba(255, 255, 255, 0.3);
            border-radius: 8px;
            padding: 15px;
            .checkin-date{
                font-weight: bold;
                margin-bottom: 8px;
            }
            .checkin-notes{
                font-size: 1rem;
                line-height: 1.4;
            }
        }
    }
}

.pagination{
    display: flex;
    justify-content: center;
    gap: 10px;
    button{
        background-color: var(--accent-color);
        color: var(--light-color);
        border: none;
        padding: 8px 12px;
        border-radius: 5px;
        cursor: pointer;
        &:disabled{
            background-color: var(--accent-color);
            cursor: not-allowed;
        }
    }
}