@import "./styles.css";


.dashboard{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.checkin-btn{
    background-color: var(--light-color);
    color: var(--accent-color);
    border: 5px solid var(--accent-color);
    height: 100px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    transition: 0.3s ease;
    margin:10px;
    &.disabled{
        background-color: var(--accent-color);
        color: var(--light-color);
        cursor: not-allowed;
    }
    &:hover{
        background-color: var(--accent-color);
        color: var(--light-color);
    }
    &:active{
        transform: scale(0.95);
    }
}

#milestones{
    flex-grow: 2;
}

#request-relationship-form{
    margin-top: 20px;
}

#checkin-card .card-content{
    flex-direction: column;
    #checkin-status{
        font-size: 1.2rem;
        font-weight: bold;
    }
}