@import "styles.css";

.letters-board{
    display: flex;
    flex-direction: column;
    
    width: clamp(250px, 80%, 800px);
    radio-group{
        display: flex;
        flex-direction: row;
        gap: 5px;
        margin-bottom: -5px;
        input{
            display:none;
            &:checked + label{
                background-color: var(--accent-color);
                color: var(--light-color);
            }
        }
        label{
            padding: 8px 12px;
            border-radius: 5px 5px 0 0;
            background-color: var(--secondary-color);
            color: var(--primary-color);
            cursor: pointer;
            user-select: none;
            transition: 0.3s ease;
        }
    }
    ul{
        list-style: none;
        display:flex;
        flex-direction: column;
        border-radius: 0 5px 5px 5px;
        overflow: hidden;
        .letter-headers{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-weight: bold;
            background-color: var(--accent-color);
            color: var(--light-color);
            padding: 5px 10px;
        }
        .letter-item a{
            display: flex;
            flex-direction: row;
            background-color: var(--secondary-color);
            justify-content: space-between;
            padding: 8px 10px;
            border-bottom: 1px solid var(--accent-color);
            color: inherit;
            text-decoration: none;
            flex-grow: 1;
            &:last-of-type{
                border-bottom: none;
            }
        }
    }
}

.write-letter{
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: var(--accent-color);
    color: var(--light-color);
    border: none;
    padding: 15px 20px;
    border-radius: 50%;
    font-size: 1.5rem;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease;
    &:hover{
        background-color: var(--primary-color);
    }
    &:active{
        transform: scale(0.95);
    }
}

.new-letter-modal-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    .new-letter-modal{
        background-color: var(--secondary-color);
        border-radius: 8px;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: clamp(350px, 50vw, 700px);
        .modal-title{
            font-size: 1.5rem;
            margin-bottom: 10px;
        }
    }
}

.back-to-letters-btn{
    width: fit-content;
    align-self: flex-start;
}

.letter{
    margin-top: 20px;
    font-size: clamp(.8rem, 2.5vw, 1.1rem);
    .letter-title{
        font-size: clamp(1.2rem, 5vw, 2rem);
        margin-top: 30px;
        margin-bottom: 10px;
    }
}