@import "styles.css";

.letters-board{
    display: flex;
    flex-direction: column;
    
    width: clamp(250px, 80%, 800px);
    radio-group{
        display: flex;
        flex-direction: row;
        gap: 5px;
        margin-bottom: -5px;
        input{
            display:none;
            &:checked + label{
                background-color: var(--accent-color);
                color: var(--light-color);
            }
        }
        label{
            padding: 8px 12px;
            border-radius: 5px 5px 0 0;
            background-color: var(--bg-color);
            color: var(--light-color);
            cursor: pointer;
            user-select: none;
            transition: 0.3s ease;
        }
    }
    ul{
        list-style: none;
        display:flex;
        flex-direction: column;
        border-radius: 0 5px 5px 5px;
        overflow: hidden;
        .letter-headers{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-weight: bold;
            background-color: var(--accent-color);
            color: var(--light-color);
            padding: 5px 10px;
        }
        .letter-item a{
            display: flex;
            flex-direction: row;
            color: var(--dark-color);
            background-color: var(--highlight-color);
            justify-content: space-between;
            padding: 8px 10px;
            border-bottom: 1px solid var(--accent-color);
            text-decoration: none;
            flex-grow: 1;
            &:last-of-type{
                border-bottom: none;
            }
        }
    }
}

.back-to-letters-btn{
    width: fit-content;
    align-self: flex-start;
}

.letter{
    margin-top: 20px;
    font-size: clamp(.8rem, 2.5vw, 1.1rem);
    .letter-title{
        font-size: clamp(1.2rem, 5vw, 2rem);
        margin-top: 30px;
        margin-bottom: 10px;
    }
}