@import './styles.css';

#new-user-form{
    width: clamp(300px, 50%, 500px);
    margin: 0 auto;
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.1);
}