@import './styles.css';

.profile-info{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: clamp(90%, 70vw, 800px);
    margin: 0 auto;
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.1);
    .profile-display, .relationship-info{
        max-width: 100%;
        width: clamp(250px, 70vw, 800px);
        margin: 0 auto;
        h2{
            font-size: clamp(1.1rem, 3.5vw, 1.8rem);
        }
        display: flex;
        flex-direction: column;
        gap: 10px;
        .profile-item, .relationship-item{
            width: 100%;
            align-items: center;
            strong{
                width: clamp(80px, 20vw, 150px);
                display: inline-block;
                text-align: right;
            }
            span{
                word-break: break-word;
                max-width: calc(100% - 10px - clamp(80px, 20vw, 150px));
            }
            display: flex;
            gap: 10px;
            font-size: clamp(.8rem, 2.5vw, 1.1rem);
            border-bottom: 1px solid var(--accent-color);
            padding-bottom: 5px;
            &:last-of-type{
                border-bottom: none;
            }
        }
    }
    #edit-profile{
        display: flex;
        flex-direction: column;
        h2{
            margin-bottom: 10px;
        }
        label{
            font-weight: bold;
        }
        input, select, textarea{
            padding: 10px;
            border: 1px solid var(--accent-color);
            border-radius: 5px;
            font-size: 1rem;
            font-family: inherit;
            resize: vertical;
            margin-bottom: 15px;
        }
    }
    button{
        align-self: flex-end;
        background-color: var(--accent-color);
        color: var(--light-color);
        border: none;
        padding: 10px 15px;
        border-radius: 5px;
        font-size: clamp(0.8rem, 2.5vw, 1rem);
        cursor: pointer;
        transition: 0.3s ease;
        &:hover{
            background-color: var(--primary-color);
        }
        &:active{
            transform: scale(0.95);
        }
    }
}



.relationship-info{
    div, form{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: clamp(250px, 80%, 800px);
        max-width: 100%;
        margin: 0 auto;
        input{
            padding: 10px;
            border: 1px solid var(--accent-color);
            border-radius: 5px;
            font-size: 1rem;
            font-family: inherit;
            resize: vertical;
            margin-bottom: 15px;
        }
    }
}
#anniversary-date{
    margin:0;
    padding:0;
    border:none;
    background-color: var(--light-color);
}

#user-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: clamp(250px, 80%, 800px);
    max-width: 100%;
    margin: 0 auto;
}