@import './styles.css';

.mini-stats{
    display: flex;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    .card{
        flex-grow: 1;
        flex-shrink: 1;
    }
    .title{
        font-size: 1.2rem;
        font-weight: bold;
    }
    .stat{
        font-size: 2.5rem;
        font-weight: bold;
        text-align: center;
    }
}

.stats-display{
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 100%;
    margin: 0 auto;
}

.main-graphs{
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.graph{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    padding: 5px;
    background-color: var(--highlight-color);
    box-shadow: inset 5px 5px 10px -5px rgba(0, 0, 0, 0.1), inset -5px -5px 10px -5px rgba(255, 255, 255, 0.3);
    aspect-ratio: 16/9;
    width: 100%;

    .title{
        font-size: 1.5rem;
        font-weight: bold;
        color: var(--accent-color);
    }
    .chart-holder{
        width: 100%;
        height: 85%;
    }
}

@media screen and (min-width: 768px){
    .main-graphs{
        flex-direction: row;
    }
    .graph{
        flex-grow: 1;
    }
}