@import "./variables.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
}

a{
    color: var(--link-color);
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--light-color);
    color: var(--primary-color);
}

.container {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    .title{
        text-align: center;
        margin: 20px 0;
        font-size: clamp(1.5rem, 6vw, 2.5rem);
    }
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--accent-color);
    padding: 10px 20px;
    color: var(--light-color);
    h3{
        font-size: clamp(1rem, 4vw, 1.5rem);
    }
    .header-content{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    a{
        color: var(--light-color)
    }
    nav{
        display: flex;
        align-items: center;
        text-align: right;
        max-height:0;
        overflow: hidden;
        transition: .5s ease;
        align-self: flex-end;
        ul{
            list-style: none;
            display: flex;
            flex-direction: column;
            li{
                a:hover{
                    text-decoration: underline;
                }
                a:active{
                    color: var(--secondary-color)
                }
            }
        }
    } 
    nav.open{
        max-height: 100px;
    }
}

.notification {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: var(--accent-color);
    color: var(--light-color);
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    &.error{
        background-color: var(--error-color);
    }
    .close-btn{
        background: none;
        border: none;
        color: inherit;
        font-size: 1.2rem;
        cursor: pointer;
    }
}

.card{
    background-color: var(--secondary-color);
    border-radius: 8px;
    padding: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    justify-self: center;
    flex-grow:1;
    .card-title{
        font-size: 1.5rem;
        margin-bottom: 10px;
        font-size: clamp(1rem, 5vw, 1.8rem);
        a{
            color: inherit;
        }
    }
    .card-list{
        list-style: none;
        padding-left: 0;
    }
    .card-content{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.hidden{
    display: none !important;
}

@media screen and (min-width: 768px){
    header{
        flex-direction: row;
        .header-content{
            width: auto;
        }
        .mobile-menu-toggle{
            display: none;
        }
        nav{
            max-height: none;
            align-self: center;
            ul{
                flex-direction: row;
                gap: 20px;
            }
        }
    }
}