@import "./variables.css";
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
    scroll-behavior: smooth;
    font-family: 'League Spartan', Trebuchet MS, Arial, sans-serif; 
    font-weight: 400;
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6, strong, b {
    font-weight: 700;
}

h1{
    font-size: clamp(1.8rem, 6vw, 3rem);
    line-height: clamp(2rem, 8vw, 4rem);
    margin: 20px 0;
}
h2{
    font-size: clamp(1.5rem, 5vw, 2rem);
    line-height: clamp(2rem, 7vw, 3rem);
}
h3{
    font-size: clamp(1.4rem, 4vw, 1.5rem);
    line-height: clamp(1.5rem, 8vw, 2rem);
}

span, a{
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}

p, li, div {
    font-size: 1rem;
    line-height: 1.6;
}

a{
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    &:hover{
        text-decoration: underline;
    }
}

body {
    background-color: var(--light-color);
    color: var(--primary-color);
}

ul{
    list-style: none;
    padding-left: 0;
}

.container {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo a{
    img{
        height: clamp(1.4rem, 4vw, 1.5rem);
    }
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: .5rem;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--accent-color);
    padding: 10px 20px;
    color: var(--light-color);
    .header-content{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    nav{
        display: flex;
        align-items: center;
        text-align: right;
        max-height:0;
        overflow: hidden;
        transition: .5s ease;
        align-self: flex-end;
        ul{
            display: flex;
            flex-direction: column;
            li{
                display:flex;
                align-items: center;
                font-size: 1rem;
                line-height: 1.2rem;
                a{  
                    display:flex;
                    align-items: center;
                    flex-direction: row;
                }
                a:active{
                    color: var(--secondary-color);
                }
                a.active{
                    font-weight: bold;
                    text-decoration: underline;
                    img{
                        border: 2px solid var(--light-color);
                    }
                }
                img#profile-icon{
                    height: clamp(1.4rem, 4vw, 1.5rem);
                    border-radius: 50%;
                    margin-left: 5px;
                    align-self: center;
                    justify-self: center;
                }
            }
        }
        &.open{
            max-height: 7.5rem;
        }
    } 
}

.notification {
    color: var(--light-color);
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: var(--accent-color);
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    &.error{
        background-color: var(--error-color);
    }
}

.close-btn{
    background: none;
    color: inherit;
    font-size: 1.2rem;
    float:right;
}

.card{
    background-color: var(--secondary-color);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    justify-self: center;
    flex-grow:1;
    .card-title{
        border-bottom: 2px solid var(--accent-color);
        margin-bottom: 10px;
    }
    .card-list{
        
    }
    .card-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.hidden{
    display: none !important;
}

form{
    display: flex;
    flex-direction: column;
    label{
        font-weight: bold;
    }
    input, select, textarea{
        padding: 10px;
        border: 1px solid var(--accent-color);
        border-radius: 5px;
        font-size: 1rem;
        resize: vertical;
        margin-bottom: 15px;
    }
}

button{
    background-color: var(--accent-color);
    color: var(--light-color);
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s ease;
    &:hover{
        background-color: var(--primary-color);
    }
    &:active{
        transform: scale(0.95);
    }
}

.form-btns{
    display: flex !important;
    flex-direction: row !important;
    gap: 10px !important;
    justify-content: flex-end !important;
    margin-top: 20px !important;
    width:100%;
}

@media screen and (min-width: 768px){
    header{
        flex-direction: row;
        .header-content{
            width: auto;
        }
        .mobile-menu-toggle{
            display: none;
        }
        nav{
            max-height: none;
            align-self: center;
            ul{
                flex-direction: row;
                gap: 20px;
            }
        }
    }
}