:root{
    --primary-color: #920049;
    --secondary-color: #ffb3cc;
    --accent-color: #ff1944;
    --link-color: #9000b4;
    --light-color: #fdced7;
    --highlight-color: #ffbcd6;
    --error-color: #e66b00;
}